.main {
    width: 650px;
    margin: 100px auto;
    border: 1px solid #eee;
    padding: 40px;
}

p input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
}

p input[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: bisque;
    cursor: pointer;
}